body {
    font-family: 'Arial', sans-serif;
}
.jumbotron {
    background-color: #f5f5f5;
    padding: 30px;
    border-radius: 10px;
}
footer {
    margin-top: 20px;
}
.navbar {
    background-color: black;
    font-family: 'Tahoma', sans-serif; 
}
.navbar-brand {
    color: #ffffff !important; 
    font-family: 'Tahoma', serif; 
}
.navbar-nav > li > a {
    color: #ffffff !important; 
    font-family: 'Tahoma', serif;
}
.navbar-nav > li > a:hover {
    color: #ffcc00 !important; 
}
