body {
    font-family: 'Arial', sans-serif;
    color:#111;
    background-color: #ed109c;
}
.jumbotron {
    background-color: #ed109c;
    padding: 30px;
    border-radius: 10px;
}
footer {
    margin-top: 20px;
}
.navbar{
    background-color: #ed109c;
}
h1 {
    animation: blink-animation 1s steps(5, start) infinite; /* Aplica la animación de parpadeo */
}

@keyframes blink-animation {
    to {
        visibility: hidden; /* Alterna la visibilidad del texto */
    }
}